* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to right bottom, #13547a, #80d0c7);
  background-attachment: fixed;
}
a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #13547a, #80d0c7);
}

.App {
  padding: 46px 10px;
}
.App_dark {
  background-color: #111111;
  padding: 48px 10px;
}

.app_content {
  height: 100%;
  gap: 20px;
  padding: 0 10px;
}

/*------------------------sidebar------------------*/

.sidebar_dark {
  background-color: black;
  color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(26, 25, 25);
  height: 100%;
}
.sidebar {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(26, 25, 25);
  height: 100%;
}
.sidebar_left {
  text-align: center;
  padding: 15px 0;
}
.sidebar_left img {
  width: 145px;
  border-radius: 50%;
  border: 4px solid #13547a;
}
.sidebar_left .title {
  padding: 10px;
}
.heading {
  width: 100%;
  background: #e6e6e6;
  border-radius: 15px;
}
.heading_dark {
  width: 100%;
  background: #111111;
  border-radius: 15px;
}
.heading Button {
  width: 100%;
}
.heading_dark Button {
  width: 100%;
  color: white;
}
.resume {
  width: 100%;
  border-radius: 15px;
  padding: 10px 0;
}
.resume_dark {
  width: 100%;
  border-radius: 15px;
  padding: 10px 0;
}
.resume Button {
  width: 100%;
  align-items: center;
  padding: 10px 0;
}
.resume_dark Button {
  width: 100%;
  color: white;
  align-items: center;
  padding: 10px 0;
}
.resume .icon {
  color: #13547a;
}
.resume_dark .icon {
  color: #13547a;
}
.resume .MuiButton-root:hover {
  color: #13547a;
}
.resume_dark .MuiButton-root:hover {
  color: #13547a;
}
.d-flex {
  display: flex;
}
.social_icons {
  padding: 0;
}
.social_icons .icon {
  color: #13547a;
  font-size: 35px;
}
.info {
  background-color: #e6e6e6;
  margin: 10px -20px;
  padding: 10px 0;
}
.info a {
  color: black;
  width: 100%;
  justify-content: center;
}
.info_dark a {
  color: white;
}
.info_dark {
  background-color: #111111;
  margin: 10px -20px;
  padding: 10px 0;
}
.info Button {
  width: 100%;
}
.info_dark Button {
  width: 100%;
  color: white;
}
.info .icon {
  padding: 0 5px;
  color: #13547a;
}
.info_dark .icon {
  padding: 0 5px;
  color: #13547a;
}
.ui_button {
  width: 100%;
  border: 1px solid #13547a;
  border-radius: 25px;
}
.dark_button {
  width: 100%;
  border: 1px solid #13547a;
  border-radius: 25px;
}
.ui_button Button {
  width: 100%;
}
.ui_button .MuiButton-root:hover {
  border-radius: 50px;
}
.dark_button .MuiButton-root:hover {
  border-radius: 50px;
}
.dark_button Button {
  width: 100%;
  color: white;
}
.heading .MuiButton-root:hover {
  border-radius: 50px;
}
.resume .MuiButton-root:hover {
  border-radius: 50px;
}
.heading_dark .MuiButton-root:hover {
  border-radius: 50px;
}
.resume_dark .MuiButton-root:hover {
  border-radius: 50px;
}
.hire_button {
  width: 100%;
  background-image: linear-gradient(to right bottom, #13547a, #80d0c7);
  border-radius: 25px;
  margin-top: 10px;
}
.hire_button Button {
  width: 100%;
  color: white;
}
.hire_button .MuiButton-root:hover {
  border-radius: 50px;
}

/*----------------------------main----------------------*/
.main {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(26, 25, 25);
}
.main_dark {
  background-color: black;
  color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(26, 25, 25);
}

/*--------------------------navbar-------------------------------*/

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}
.navbar_dark {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
}
.navbar_items {
  display: flex;
}
.navbar_active {
  font-size: 1.6rem;
  font-weight: 700;
  color: black;
  border-bottom: 4px solid #13547a;
  text-transform: uppercase;
}
.navbar_active_dark {
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
  border-bottom: 4px solid #13547a;
  text-transform: uppercase;
}
.navbar_item {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  cursor: pointer;
}
.navbar_item_dark {
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
}
.navbar .MuiButton-root {
  border-radius: 0;
  font-size: 17px;
}
.navbar_dark .MuiButton-root {
  border-radius: 0;
  font-size: 17px;
  color: white;
}
.navbar .MuiButton-root:hover {
  color: #13547a;
}
.navbar_dark .MuiButton-root:hover {
  color: #13547a;
}

/*------------------------------------about-----------------------------------*/

.about_intro {
  overflow-y: auto;
  height: 78vh;
}
.about_intro h4 {
  padding: 20px 10px;
  text-align: justify;
}
.about_service {
  background-color: #e6e6e6;
  padding: 15px 0px;
  margin-top: 30px;
}
.about_service_dark {
  background-color: #111111;
  padding: 15px 0px;
  margin-top: 30px;
}
.about_title {
  padding: 10px 20px;
  font-weight: 800;
  padding-top: 20px;
  text-transform: capitalize;
}
.service {
  padding: 15px;
  gap: 25px;
}
.service_card {
  display: flex;
}
.service_card_dark {
  display: flex;
  background-color: black;
  color: white;
}
.service_card img {
  width: 40px;
  height: 100%;
  padding-right: 10px;
}
.service_card_dark img {
  width: 40px;
  height: 100%;
  padding-right: 10px;
}

/*------------------------------------resume------------------------------------*/

.resume_component {
  flex-grow: 1;
  height: 78vh;
  overflow-y: auto;
}
.resume_component h2 {
  padding: 10px;
  font-weight: 800;
}
.resume_card {
  margin-bottom: 10px;
}
.resume_card .MuiTypography-body1 {
  font-weight: 500;
}
.resume_card .details {
  margin-top: 15px;
}
.name_dark {
  color: white;
}
.bar_content {
  margin-top: 15px;
}
.bar {
  width: 95%;
  background-color: #e6e6e6;
  border-radius: 20px;
  margin-bottom: 12px;
  animation: showText 0.5s 1s linear forwards;
  align-items: center;
}
.bar_dark {
  width: 95%;
  background-color: #111111;
  border-radius: 20px;
  margin-bottom: 12px;
  animation: showText 0.5s 1s linear forwards;
  align-items: center;
}
.bar_name {
  text-transform: capitalize;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
.bar_icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.bar_wrapper {
  background-image: linear-gradient(#13547a, #80d0c7);
  border-radius: 20px;
  padding: 4px 14px;
  color: #fff;
  font-size: 0.9rem;
  transform-origin: left;
  transform: scaleX(0);
  animation: animate 1.25s cubic-bezier(1, 1, 0.5, 1) forwards;
  justify-content: space-between;
}
.level {
  font-size: 10px;
  margin-top: 3.5px;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.bar::before {
  animation: showText2 0.5s 1.5s linear forwards;
}
.bar::after {
  animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
  100% {
    opacity: 1;
  }
}
.certificate {
  margin-top: 15px;
}
.certificate h2 {
  padding-bottom: 15px;
}
.certificate_card .MuiTypography-body2 {
  font-weight: 500;
}
.certificate_card .link {
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: start;
}

/*-----------------------------------projects-------------------------------------*/

.projects {
  flex-grow: 1;
  height: 78vh;
  overflow-y: auto;
  padding: 15px 0;
}
.projects_bar {
  align-items: center;
}
.projects_navbar_dark {
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
}
.project-search_dark {
  display: flex;
  border: 1px solid grey;
  border-radius: 0.5rem;
  padding: 3px 7px;
  width: 96%;
  height: 40px;
  align-items: center;
}
.project-search {
  display: flex;
  border: 1px solid grey;
  border-radius: 0.5rem;
  padding: 3px 7px;
  width: 96%;
  height: 40px !important;
  align-items: center;
}
.project-search input {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  background: none;
  color: black;
  border: none;
  z-index: 1;
}
.project-search_dark input {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  background: none;
  color: white;
  border: none;
  z-index: 1;
}
.project-search input:focus {
  outline: none;
  border: none;
}
.project-search_dark input:focus {
  outline: none;
  border: none;
}
.project_box_card{
  margin-top: 25px !important;
}
.project_card{
  align-items: center;
  text-align: center;
  margin: auto;
  margin-bottom: 10px !important;
}
.project_card img{
  width: 100%;
  border-radius: 10px;
  border: 1px solid #13547a;
  transition: transform 0.3s linear;
}
.project_card img:hover{
  transform: scale(1.05);
}
.project_card p{
  font-weight: 600;
}
.project_card p:hover{
  color: #13547a;
}
.project_title{
  color: white;
}
.git_icon{
  margin-right: 5px;
  color: #13547a;
}
.projects_navbar-item_dark > div {
  margin: 0 5px;
  font-size: 1rem;
  cursor: pointer;
}
.projects_navbar-item {
  display: flex;
  margin: 5px 0;
  padding: 3px 7px;
  color: black;
  text-transform: capitalize;
}
.projects_navbar-item_dark {
  display: flex;
  margin: 5px 0;
  padding: 3px 7px;
  color: white;
  text-transform: capitalize;
}
.projects_navbar-item > div {
  margin: 0 5px;
  font-size: 1rem;
  cursor: pointer;
}
.active_nav {
  color: #62aeb2;
  font-weight: 500;
}
.nav {
  transition: all 0.2s;
}
.nav:hover {
  color: #13547a;
}



/*---------------------------------------not found-------------------------------------------------*/

.not_found{
  align-items: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.not_found h1{
  color: #13547a;
  font-size: 12.5rem;
  letter-spacing: .10em;
  margin: .025em 0;
  text-shadow: .05em .05em 0 rgba(0,0,0,.25);
  white-space: nowrap;
}
.not_found h1 > span{
  animation: spooky 2s alternate infinite linear;
    color: #528cce;
    display: inline-block;
}
@keyframes spooky {
  from {
    transform: translatey(.15em) scaley(.95);
  }
  
  to {
    transform: translatey(-.15em);
  }
}
.not_found h2{
  color: #13547a;
  margin-bottom: .40em;
}
.not_found p{
  margin-top: 0;
}

@media only screen and (max-width: 30rem) {
  .not_found h1{
    font-size: 5rem;
  }
}